<h3>Jogo do dia: @jogoData.formatedData</h3>

<hr />

<div>Vencedor: @jogoData.formatedTime_Vencedor</div>
<div>Placar Branco: @jogoData.Placar_Branco</div>
<div>Placar Azul: @jogoData.Placar_Azul</div>