@page "/jogador"

<h1>Pagina de Jogadores</h1>

<RadzenDataGrid AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" AllowPaging="true" PageSize="30" AllowSorting="true"
                Data="@jogadores" TItem="Jogador">
    <Columns>
        <RadzenDataGridColumn Width="50px" TItem="Jogador" Property="id" Title="Item" Filterable="false" Sortable="false" TextAlign="TextAlign.Center"/>
        <RadzenDataGridColumn Width="50px" TItem="Jogador" Property="Nome" Title="Jogador" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" />
    </Columns>
</RadzenDataGrid>
