@page "/jogador"

<h1>Pagina de Jogadores</h1>

@*<button class="btn btn-success" @onclick="InsertUser">Inserir Usuario</button>*@


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var jogador in jogadores)
        {
            <tr>
                <td>@jogador.Nome</td>
                @*<td><button @onclick="@(e=>DeleteUser(user.Id))">Delete</button></td>*@
            </tr>
        }
    </tbody>
</table>