@page "/user"

<h3>User Page</h3>

@*<button class="btn btn-success" @onclick="InsertUser">Inserir Usuario</button>*@


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.Name</td>
                @*<td><button @onclick="@(e=>DeleteUser(user.Id))">Delete</button></td>*@
            </tr>
        }
    </tbody>
</table>